<?php

//Copy this tempate as config.php and set-up the variables !

/* MySQL server Hostname */
$host = 'localhost';

/* MySQL account username */
$login = 'toto';

/* MySQL account password */
$pass = 'toto';

/* The schema you want to use */
$schema = 'p5blog';

/* Connection string, or data source name */
$dsn = 'mysql:host=' . $host . ';dbname=' . $schema . ';charset=utf8';
