{# app/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Error {% endblock %}

{% block main %}
    <section class="login">
        <article>
            <h1>Ah crap!</h1>

            <div>These are not the droids you're looking for...</div>
        </article>
    </section>
{% endblock %}
