{% extends "base.html.twig" %}

{% block title %}Nouveau billet - {% endblock %}
{% block headscript %}
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>{% endblock %}
{% block main %}
    <h1>Ajouter un billet de blog</h1>
    <form action="\blog" method="post" class="form-group">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Titre du billet" required>toto</input>
        <label for="chapo">Résumé</label>
        <input type="text" name="heading" id="chapo" class="form-control" placeholder="1er paragraphe" required>
        <label for="content">Texte</label>
        <textarea name="content" id="editor">
            Entrez votre contenu.
        </textarea><br />
        <input type="hidden" name="userid" value="{{ user }}">
        <button type="submit" value="addpost" class="btn btn-success" name="form">Ajouter</button>
    </form>
{% endblock %}

{% block endscript %}
    <script src="assets/js/ckeditor.js"></script>
{% endblock %}