<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}Julien Robic</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="icon" type="image/png" href="assets/img/anagraph32.png" sizes="32x32">
</head>

<body>
    <header>
        <a href="/">
            <h3 {% if 'current_route' %}id="active{% endif %}">Julien Robic</h3>
            <!-- <img class="svg" src='assets/img/logo.svg' /> -->
        </a>

        <nav>
            <a href="#"><h5>BLOG</h5></a>
        </nav>

        <a href="/">
            <img class="svg" src='assets/img/signin.svg' />
        </a>
        <!-- old bootstrap
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li id="nav-events" class="nav-item">
                    <a class="nav-link" href="/events"><h5>EVENTS</h5></a>
                </li>
                <li id="nav-actors" class="nav-item">
                    <a class="nav-link" disabled"><h5>ACTORS</h5></a>
                </li>
                <li id="nav-players" class="nav-item">
                    <a class="nav-link" disabled"><h5>PLAYERS</h5></a>
                </li>
                <li id="nav-rankings" class="nav-item">
                    <a class="nav-link" href="/contact"><h5>Contact</h5></a>
                </li>
            </ul>
        </div>
        old bootstrap -->
    </header>

    <aside>
        {% block aside %}{% endblock %}
    </aside>

    <main role="main" class="container main">
            {% block main %}{% endblock %}
    </main>

    <section>
      {% block section %}{% endblock %}
    </section>

    <footer class="footer">
        <div>Contactez moi</div>
        <div>Julien Robic © 2019</div>
        <div>Mentions légales</div>
    </footer>

{% block modal %}{% endblock %}

</body>
</html>
