{% extends "base.html.twig" %}

{% block title %}Home {% endblock %}

{% block main %}
    <article>
        <h2>Bienvenue sur le blog de Julien Robic</h2>
        <p><img src="img/photo.jpg" alt="Julien Robic" height="300"></p>
        <p>Développeur, entrepreneur, animateur, mais gardien de la paix avant tout.</p>
        <p><a href="item/CV.pdf">Téléchargez mon CV !</a></p>
    </article>

    <article>
        <h2> Connaissances utiles :</h2>
        <ul>
            <li><strong>Web :</strong> HTML 5, CSS 3, Javascript</li>
            <li><strong>Languages :</strong> PHP 7, VBA</li>
            <li><strong>Frameworks :</strong> Symfony 5, Bootstrap 4, Doctrine 2</li>
            <li><strong>Bases de données :</strong> MySQL 8, Access, SQLite</li>
            <li><strong>Sysadmin :</strong> Apache, Nginx, Docker</li>
            <li><strong>Versionning :</strong> git, github, gitlab, bitbucket</li>
            <li><strong>OS :</strong> Linux (Ubuntu, Debian), Windows</li>
            <li><strong>Design :</strong> UML, UX design</li>
        </ul>
    </article>
{% endblock %}

{% block section %}
    <h5>Les derniers billets :</h5>
    <ul>
        {% for post in posts %}
            <li><a href="\blog\post\{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
