{% extends "ephemere.html.twig" %}

{% block title %}Home - {% endblock %}

{% block main %}
    <article>
        <h2>Julien Robic</h2>
        <p>Photo et/ou un logo</p>
        <p>Phrase d’accroche qui vous ressemble (exemple : “Martin Durand, le développeur qu’il vous faut !”)</p>
        <p><a href="assets/item/CV.pdf">Téléchargez mon CV !</a></p>
    </article>

    <article>
        <h2> Test variable Twig :</h2>
        <ul>
            {% for item in foo %}
                <li>{{ item.name }}</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}

{% block aside %}
    <h5>Les derniers billets :</h5>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block section %}
    <h5>Les réseaux sociaux :</h5>
    <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>github</li>
        <li>LinkedIn</li>
    </ul>
{% endblock %}
